.widget-container {
    -fx-background-color: transparent;
    -fx-pref-width: 475px;
    -fx-pref-height: 42px;
}

.widget {
    -fx-background-color: #171717;
    -fx-background-radius: 20;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-padding: 0 25px 0 20px;
}

.song-avatar {
    -fx-alignment: center;
    -fx-min-width: 36px;
    -fx-pref-width: 36px;
    -fx-max-width: 36px;
    -fx-min-height: 36px;
    -fx-pref-height: 36px;
    -fx-max-height: 36px;
}

.song-avatar:hover {
    -fx-background-color: rgb(60, 60, 60);
    -fx-background-radius: 180;
    -fx-cursor: hand;
}

.dynamic-label {
    -fx-alignment: center-left;
}

.dynamic-label Label {
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-family: Verdana;
    -fx-font-size: 17px;
}

.dynamic-label TextField {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: rgb(230, 230, 230);
    -fx-font-family: Verdana;
    -fx-font-size: 17px;
}

.toolbar {
    -fx-spacing: 15px;
    -fx-alignment: center-left;
}
